@charset "UTF-8";

/* Todas as demais medias*/

/* Typical Device Breakpoints
----------------------------
Pequenas telas até 600px
Celular de 600px até 768px
Tabletes de 768px ate 992px
Desketop de 992px até 1200px
Grandes Telas acima de 1200px
*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg);
    }
    main {
       border: 2px solid black;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    img#phone {display: none;}
    img#tablete {display: none;}
    img#print {display: block;}
    img#desketop {display: none;}
    img#tv {display: none;}
   
}

@media screen and (min-width: 768px) and (max-width:992px){
    body {
        background-image: url(../imagens/back-tablet.jpg);        
    } 
    img#phone {display: none;}
    img#tablete {display: block;}
    img#print {display: none;}
    img#desketop {display: none;}
    img#tv {display: none;}
   
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {display: none;}
    img#tablete {display: none;}
    img#print {display: none;}
    img#desketop {display: block;}
    img#tv {display: none;}
    
}

@media screen and (min-width: 1200px){
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 700px;
    }
    img#phone {display: none;}
    img#tablete {display: none;}
    img#print {display: none;}
    img#desketop {display: none;}
    img#tv {display: block;}

}